{{#each todos}}
  <li class="todo-item" data-id="{{id}}">
    <div class="priority-{{lowercase priority}}">
    </div>
    <span class="todo-item-title">
      {{title}}
    </span>
    <span class="todo-item-duedate">
      {{#if dueDate}}
        {{formatdate dueDate}}
      {{else}}
        -
      {{/if}}
    </span>
    <button class="todo-item-delete-button" type="button" data-button="todo-delete-button">
      X
    </button>
  </li>
{{/each}}